@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Montserrat, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  height: 100%;
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.star {
  color: #ff9933;
  cursor: pointer;
}